<html>
	<head>
		<title>Puns</title>
		<link rel="stylesheet" href="" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<style>
			body {
				background-color: #f2f2f2;
			}
			h1 {
				text-align: center;
				margin-bottom: 0px;
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
			}

			h2 {
				text-align: center;
				margin-top: 0px;
				font-family: 'Open Sans', sans-serif;
				font-weight: 300;
				margin-bottom: 0px;
			}

			footer {
				text-align: center;
				text-decoration: none;
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
			}

			a {
				text-decoration: none;
			}

			#phone {
				margin-top: 0px;
				display: block;
				margin-left: auto;
				margin-right: auto;		    
			}
		</style>
		<h1>Puns</h1>
		<h2>100% Certified Punny Puns. Guaranteed.</h1>
		<img id="phone" src="http://i.imgur.com/7XkZpqD.jpg">
	</body>
	<footer>
		Created by Niraj Pant. Open-sourced <a href="https://github.com/xasos/Puns"><b>here.</b></a><br>
		<small>Psst! You can query the API <a href="https://getpuns.herokuapp.com/api/random">here!</a></small>
	</footer>
</html>

